[submodule "SoSe24/CGPraktikum/CGPraktikum/src"]
	path = SoSe24/CGPraktikum/CGPraktikum/src
	url = https://github.com/huhnwerfer/src.git
	branch = main
[submodule "24SoSe/CGPraktikum/CGPraktikum/src"]
	path = 24SoSe/CGPraktikum/CGPraktikum/src
	url = https://github.com/huhnwerfer/src.git
