[submodule "SoSe24/CGPraktikum/CGPraktikum/src"]
	path = SoSe24/CGPraktikum/CGPraktikum/src
	url = https://github.com/huhnwerfer/src.git
	branch = main
[submodule "24SoSe/CGPraktikum/CGPraktikum/src"]
	path = 24SoSe/CGPraktikum/CGPraktikum/src
	url = https://github.com/huhnwerfer/src.git

[submodule "25SoSe/TI2/TI2Praktika"]
	path = 25SoSe/TI2/TI2Praktika
	url = https://github.com/huhnwerfer/TI2Praktika.git
[submodule "25SoSe/Informations_Visualisierung"]
	path = 25SoSe/Informations_Visualisierung
	url = https://github.com/beco3535/Informations_Visualisierung.git

